<h4 class="text-uppercase mb-4 font-600">Patient Summary</h4>
<table>
  <tr>
    <td>
      <p class="bold">Patient Name:</p>
    </td>
    <td>
      <p>Camila Callaman</p>
    </td>
    <td>
      <p class="bold">Gender</p>
    </td>
    <td>
      <p>F</p>
    </td>
  </tr>
  <tr>
    <td>
      <p class="bold">Age:</p>
    </td>
    <td>
      <p>60 Year</p>
    </td>
    <td>
      <p class="bold">Date Of Birth:</p>
    </td>
    <td>
      <p> Nov 30, 1958</p>
    </td>
  </tr>
  <tr>
    <td>
      <p class="bold">Mediacal Record No: </p>
    </td>
    <td>
      <p>000000000126</p>
    </td>
    <td>
      <p class="bold">Address:</p>
    </td>
    <td>
      <p>Douglasville GA USA 30134</p>
    </td>
  </tr>
</table>
