<div class="modal-body">
  <div class="row">
    <div class="container">
      <div *ngIf="isLoading" class="d-flex justify-content-center text-center">
        <mdb-progress-bar class="progress primary-color-dark mb-0" mode="indeterminate"></mdb-progress-bar>
      </div>
      <div *ngIf="!isLoading && QuestionList && QuestionList.length > 0">
        <ul class="list-group dndList" dndDropzone [dndHorizontal]="false" dndEffectAllowed="copyMove" (dndDrop)="onDrop($event, QuestionList)">
          <li dndPlaceholderRef class="dndPlaceholder">
          </li>
          <li class="list-group-item d-flex justify-content-start align-items-center"
            *ngFor="let item of QuestionList | sortBy:'questionOrder'; let index = index;" [dndDraggable]="item"
            [dndEffectAllowed]="'move'" [dndDisableIf]="false" (dndStart)="onDragStart($event)"
            (dndCopied)="onDragged(item, QuestionList, 'copy')" (dndLinked)="onDragged(item, QuestionList, 'link')"
            (dndMoved)="onDragged(item, QuestionList, 'move')" (dndCanceled)="onDragged(item, QuestionList, 'none')"
            (dndEnd)="onDragEnd($event)">
            <mdb-badge *ngIf="!item.questionOrder" primary="true">{{index + 1}}</mdb-badge>
            <mdb-badge *ngIf="item.questionOrder" primary="true">{{item.questionOrder}}</mdb-badge>
            <p class="text-left mb-0 ml-3"> {{item.question}} </p>

            <a class="dragable-btn ml-auto" dndHandle>
              <i class="fa fa-ellipsis-v fa-lg"></i>
              <i class="fa fa-ellipsis-v fa-lg"></i>
              <i class="fa fa-ellipsis-v fa-lg"></i>
            </a>
          </li>

        </ul>

        <!-- <ul dndDropzone [dndHorizontal]="layout.dndHorizontal" dndEffectAllowed="copyMove"
        (dndDrop)="onDrop($event, draggableListLeft)" class="dndList">

        <li dndPlaceholderRef class="dndPlaceholder">
        </li>

        <li *ngFor="let item of draggableListLeft; let index = index;" [dndDraggable]="item"
          [dndEffectAllowed]="item.effectAllowed" [dndDisableIf]="item.disable" (dndStart)="onDragStart($event)"
          (dndCopied)="onDragged(item, draggableListLeft, 'copy')"
          (dndLinked)="onDragged(item, draggableListLeft, 'link')"
          (dndMoved)="onDragged(item, draggableListLeft, 'move')"
          (dndCanceled)="onDragged(item, draggableListLeft, 'none')" (dndEnd)="onDragEnd($event)">
          <i *ngIf="item.handle" class="fa fa-list fa-lg" style="cursor: pointer" dndHandle></i>
          <h1>{{item.content}}</h1>
          <p>effectAllowed: {{item.effectAllowed}} {{index}}</p>

        </li>

      </ul> -->

      </div>

    </div>

  </div>
</div>
<div class="modal-footer w-100">
  <button type="button" class="btn btn-dark btn-sm" aria-label="Close" (click)="discardChanges()"
    mdbWavesEffect>Discard</button>

  <button type="button" class="btn btn-dynamic-2c btn-sm" (click)="SaveQuestionOrder()">Save</button>
</div>
