<div class="p-3 pb-0">
    <app-patient-details></app-patient-details>
</div>
<div class="px-3">
 <app-diagnose></app-diagnose>
</div>

<div class="px-3">
   <app-medication></app-medication>
</div>
<div class="px-3">
    <div class="ccm-body">
        <div class="d-flex align-items-center justify-content-between p-3 bg-white">
            <p class="mb-0"><strong >New Diagnosis</strong></p>
            <div>
                  <button class="btn btn-dynamic-2c btn-sm m-0 mr-2" title="Add Diagnose">Add New</button>
                  <button class="btn btn-dynamic-2c btn-sm m-0" title="Sync">Sync</button>
            </div>
          </div>
          <div  class="d-flex justify-content-center text-center">
            <!-- <div class="d-flex justify-content-center text-center"> -->
            <mdb-progress-bar class="progress primary-color-dark mb-0" mode="indeterminate"></mdb-progress-bar>
          </div>
          <ngx-datatable class="material z-depth-0" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="35" [scrollbarV]="false" [scrollbarH]="true"  [limit]="15">
              <ngx-datatable-column name="#" [maxWidth]=50>
                  1
              </ngx-datatable-column>
              <ngx-datatable-column name="ICD Code" >
          
              </ngx-datatable-column>
              <ngx-datatable-column name="ICD Description">
              </ngx-datatable-column>
              <ngx-datatable-column name="On CCM" >
                  <div class="on-ccm" >
                      <p>Yes</p>
                  </div>
                  <div class="on-ccm">
                      <p>No</p>
                  </div>
              </ngx-datatable-column>
              <ngx-datatable-column name="On RPM" prop="isOnRpm">
                  <div class="on-ccm" >
                      <p>Yes</p>
                  </div>
                  <div class="on-ccm">
                      <p>No</p>
                  </div>
              </ngx-datatable-column>
              <ngx-datatable-column name="Action" [width]="100">
                      <button class="btn btn-dynamic-2c btn-icon ml-0 mr-2" title="Edit" >
                      <span class="fa fa-pencil"></span>
                      </button>
                      <button class="btn btn-danger btn-icon"><span
                          class="fa fa-trash"></span>
                      </button>
              </ngx-datatable-column>  
          </ngx-datatable>
    </div>

  
  </div>

