@import 'theme';

table
 > tbody
 > tr
 > td {
   height: 38px;
 }
 @include media-breakpoint-up(xl) {
  .dataTables_scrollHeadInner {
    width: 100% !important;
  }

.status-bullet {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  cursor: pointer;
  display:inline-block;
}
}
.status-bullet {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.rowBackgroundColorDiv {
  text-decoration: line-through !important;
  text-decoration-color: red !important;
  color: gray !important;
}
.disabledDiv {
  cursor: not-allowed !important;
  pointer-events: none;
  opacity: 0.8;
}
.disabledDiv {
  a {
    cursor: not-allowed !important;
    pointer-events: none;
    opacity: 0.8;
  }
}
.tooltip-inner {
  max-width: 215px !important;
}
.disabled {
  pointer-events: none; 
}
