.devices-list table tr th {
  border-bottom: none;
  font-weight: 500;
}

.devices-list table tr th,.devices-list table tr td {
  padding: .3rem .8rem;
}
.mCSB_inside > .mCSB_container{
  margin-right: 0!important;
}
