@import 'theme';

.rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 -.5rem;
  color: $dark;
  flex-direction: row-reverse;
    float: left;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  overflow: hidden;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 0 .5rem;
}

.rating:not(:checked) > label:before {
  content: 'â—';
  font-size: 2rem;
    //  color: $dynamic-colour;
}

.rating > input:checked ~ label {
    color: $dynamic-colour;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: lighten($primary, 15%);
  }


.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: lighten($primary, 15%);
}
.disabledDiv {
  pointer-events: none;
  opacity: 1.0;
}
.pb-info {
  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }
  padding: 5px;
  border: 1px solid lighten($grey, 13%);
  p {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    background: #f7f7f7;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    padding: 5px 5px;
    strong {
      background-color: lighten($primary, 45%);
      display: inline-block;
      width: 200px;
      min-width: 200px;
      padding: 5px 8px;
      margin: -5px;
      margin-right: 1rem;
      flex: 0 0 200px;
    }
  }
}
.card-body {
  min-height: 0 !important;
}
.border-danger{
  
}