<button type="button" class="btn btn-dynamic-2c btn-sm" (click)="getBluButtonCode()">Add New</button>
<!-- <button type="button" class="btn btn-dynamic-2c btn-sm" (click)="Videoframe.show()">play</button> -->
<!-- <a mdbBtn href="{{Url}}" role="button" color="prmary" mdbWavesEffect>Link</a> -->
<!-- <div mdbModal #Videoframe="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://tutorapp-data-dev.s3.amazonaws.com/46405332/3c57842c-ea62-4ef9-8e8f-48f0411317e8/archive.mp4?AWSAccessKeyId=AKIARLIKJ3BUOQ6O4JEB&Expires=1574443444&Signature=PHiR8miHzqYxzJjECALGIzOJNrk%3D" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer justify-content-center flex-column flex-md-row">
      <button type="button" mdbBtn color="priary" outline="true" rounded="true" class="ml-4 waves-light"
          mdbWavesEffect data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div> -->
