$icomoon-font-family: "lineart-icon" !default;
$icomoon-font-path: "assets/icon/lineart-icon/fonts" !default;

$la-tutor: "\e909";
$la-card: "\e906";
$la-clock: "\e907";
$la-dashboard: "\e908";
$la-bell: "\e900";
$la-comments: "\e901";
$la-logout: "\e902";
$la-menu: "\e903";
$la-message: "\e904";
$la-settings: "\e905";

