@import "theme";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.p-height-container{
  display: grid;
  grid-template-columns:120px 120px;
  align-items: center;
  .p-height{
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: center;
  &:nth-child(2){
    grid-template-columns: 1fr 60px;
  }
  }
}
