@import "theme";

$border: 1px solid #d9d9d9;

.rpm-content-box {
  background: white;
  padding: 0.3rem;
  border-radius: 5px;
  border: $border;
  margin-bottom: 10px;
  overflow: hidden;
  &:not(:first-child) {
    margin-left: 10px;
  }
  .item-bold {
    font-size: 1rem;
  }
}
.my-class-rpmalert {
  color: #e57373;
  background: #ffebee;
  border:1px solid #e57373;
}
.rpm-content-box-hover {
  cursor: pointer;
  &.active,
  &:hover {
    background: #f4f4f4;
  }
}
.item-top-centent {
  border-bottom: $border;
  padding: 0.3rem 0.4rem;

  .index-value {
    width: 30px;
    height: 30px;
    background: $dynamic-colour;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    color: white;
  }

}
.item-top-centent-hover {
  cursor: pointer;
  &.active,
  &:hover {
    background: #f4f4f4;
  }
}
.item-bottom-content {
  justify-content: space-around;
  align-items: center;
}

.graph-area,
.rpm-alert {
  background: white;
  border-radius: 5px;
  border: $border;
  margin-top: 1rem;
}
.graph-area {
  .graph-area-title {
    padding: 0.4rem 0;
    border-bottom: $border;
  }
}
.rpm-alert {
  .rpm-alert-title {
    padding: 0.4rem 0;
    border-bottom: $border;
  }
}

.rpm-alert-table {
  thead {
    tr {
      th {
        font-weight: 500;

        &:not(:first-child) {
          text-align: center;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        &:not(:first-child) {
          text-align: center;
        }
      }
    }
  }
}

.rpm-device-list {
  background: white;
  margin-top: 1rem;
  border: $border;
  border-radius: 5px;
}
.table th, .table td {
  vertical-align: middle !important;
}
.item-bottom-content {
  .completed-min-not-started {
    flex: 1;
    &:not(:first-child) {
      border-left: $border;
    }
    p {
      small {
        font-size: 13px;
      }
    }
  }
  .completed-min {
    cursor: pointer;
    flex: 1;
    &:not(:first-child) {
      border-left: $border;
    }
    &.active,
    &:hover {
      background: #f4f4f4;
    }
    // p {
    //   small {
    //     font-size: 13px;
    //   }
    // }
  }
}
.py-07 {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

// ***********************
      //  PCM
// ***********************

.task-patient-info {
  p,.cp-list {
    margin: 0;
    font-size: 14px;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    background: #53b0481f;
    padding: 3px 5px;
    margin-bottom: 4px;
    border-radius: 2px;
    strong {
      display: inline-block;
    }

  }
}
.file-item {
  background-color: $dynamic-colour;
  padding: 1px 5px;
  border-radius: 2px;
  color: #fff;
}
.text-times-custom {
  color: #fff;
  font-size: 14px;
  opacity: 0.8;
}
.text-times-custom:hover {
  opacity: 1;
}
.rowBackgroundColorDiv {
  text-decoration: line-through !important;
  text-decoration-color: red !important;
  color: gray !important;
}
.disabledDiv {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 1.0;   }

  .custom-list-dropdown-endo {
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 0;
}
.badge-light-red {
  background-color:#ff3647c2;
  color:#fff !important;
}
