
<div mdbModal #loginAttemptWarningModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{ backdrop: false, ignoreBackdropClick: false }">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="text-center mb-3">
        <h2 class="text-danger d-flex align-items-center justify-content-center"> <i class="fa fa-warning fa-2x"></i> <strong> Account Lockout Policy </strong></h2>
      </div>
      <div>
        <p>
          In order to use 2c Health Solution, user must enable 2 Factor Authentication from My account. You can find it by clicking on your login intial (Located in the top right corner of this page) and click on My Account.
        </p>
      </div>
      <div class="text-center">
        <p>Login attempts remaining before Account Lockout</p>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="count-danger-box bg-danger">
          {{attemptsCount}}
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <p class="m-0">Do you want to setup 2 Factor Authentication?</p>
        <div class="d-inline-flex">
          <button type="button" (click)="navigateToProfile();loginAttemptWarningModal.hide()" class="waves-light btn-sm btn btn-sm btn-dynamic-2c" aria-label="Close" mdbWavesEffect>Yes</button>
          <button type="button" (click)="loginAttemptWarningModal.hide()" class="relative waves-light btn-sm btn btn-sm btn-dynamic-2c mr-0 ml-0" mdbWavesEffect>Later</button>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
