   <div class="d-flex align-items-center justify-content-between mb-3">
    <div class="d-flex align-items-center justify-content-start">
      <h1 class="page-title mb-0">Chronic Diseases</h1>
    </div>
  </div>
  <div class="form-group mb-4">
    <label for="searchBy">Search Chronic Condition</label>
    <div class="d-flex align-items-center justify-content-start">
      <input type="text" autocomplete="off" (keyup)="filterChronicCondition($event)"
        class="form-control form-control-sm box-shadow w-100" placeholder="Search by Name" />
    </div>
  </div>
  
  <div class="d-flex justify-content-center text-center">
    <mdb-progress-bar *ngIf="IsLoading" class="progress primary-color-dark mb-0" mode="indeterminate"></mdb-progress-bar>
  </div>
  <div class="table-data-list">
    <div *ngIf="isLoading" class="d-flex justify-content-center text-center">
      <mdb-progress-bar class="progress primary-color-dark mb-0" mode="indeterminate"></mdb-progress-bar>
    </div>
    <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="40"
      [externalPaging]="false" [count]="12" [scrollbarV]="false" [scrollbarH]="true" [rows]="rows" [limit]="10">
      <ngx-datatable-column name="#"  [maxWidth]=50 >
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
          {{rowIndex + 1}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Chronic Condition" prop="algorithm">
      </ngx-datatable-column>
      <ngx-datatable-column name="CCM" prop="isOnCcm" [maxWidth]=150>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <mdb-checkbox [inline]="true" [default]="true" [(ngModel)]="row.isOnCcm" (change)="updateChronicCondition(row)" ></mdb-checkbox>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="RPM" prop="isOnRpm" [maxWidth]=150>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <mdb-checkbox [inline]="true" [default]="true" (change)="updateChronicCondition(row)" [(ngModel)]="row.isOnRpm"></mdb-checkbox>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [maxWidth]=150>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button (click)="getChronicDiseaseCodes(row.id);selectedChronicDisease = row;ChronicDiseaseModel.show()" title="Details"class="btn btn-dynamic-2c btn-icon">
            <i class="fa fa-eye"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div mdbModal #ChronicDiseaseModel="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl flat-modal " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="ChronicDiseaseModel.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" >ICD Codes for {{selectedChronicDisease.algorithm}}</h4>
      </div>
      <div class="modal-body py-1">
        <div class="row">
          <div class="col-sm-12 text-right">
            <button class="btn btn-dynamic-2c btn-sm" (click)="AddChronicConditionModal.show()" >Add</button>
          </div>
          <div class="col-sm-12">
            <div class="table-data-list">
              <div *ngIf="isLoadingChronicConditions" class="d-flex justify-content-center text-center">
                <mdb-progress-bar class="progress primary-color-dark mb-0" mode="indeterminate"></mdb-progress-bar>
              </div>
              <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="40"
                [externalPaging]="false" [count]="12" [scrollbarV]="false" [scrollbarH]="true" [rows]="chronicDiseasesList" [limit]="10">
                <ngx-datatable-column name="#"  [maxWidth]=50>
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                    {{rowIndex + 1}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="ICD Code" prop="icdCode" [maxWidth]=150>
                </ngx-datatable-column>
                <ngx-datatable-column name="Description" prop="detail">
                </ngx-datatable-column>
                <ngx-datatable-column name="Action" [maxWidth]=150>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button (click)="deleteChronicCondition(row.id)" title="Delete"class="btn btn-danger btn-icon">
                      <i class="fa fa-trash"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
    
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
  <div mdbModal #AddChronicConditionModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" (close)="resetSelectedChronicDisease()">
  <div class="modal-dialog modal-dialog-centered modal-md flat-modal " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="AddChronicConditionModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" >Add Chronic Condition</h4>
      </div>
      <div class="modal-body">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="isChronic234">Select Chronic Disease<small class="text-danger">*</small></label>
                <ng-select class="ng-select-small" #selectCronicdieseas1="ngModel"
                  [(ngModel)]="selectedCronicDisease"  [typeahead]="searchWatch"
                  (ngModelChange)="diseaseSelected(selectedCronicDisease)" [multiple]="false"
                  [loading]="LoadingData" [ngModelOptions]="{standalone: true}" placeholder="Select Chronic Disease"
                  id="isChronic234"required [ngClass]="{ 'is-invalid':(selectCronicdieseas1?.touched ||
                  selectCronicdieseas1?.dirty) &&
                  !selectCronicdieseas1?.valid }">
                  <!-- <ng-option [value]="0">NA</ng-option> -->
                  <ng-option [value]="item" *ngFor="let item of chronicDiseasesByUrl">{{item.code}} {{item.detail}}
                  </ng-option>
                </ng-select>
                <div
                  *ngIf="selectCronicdieseas1?.invalid && (selectCronicdieseas1?.dirty || selectCronicdieseas1?.touched)"
                  class="invalid invalid-text">
                  <div *ngIf="selectCronicdieseas1?.errors['required'] && selectCronicdieseas1?.touched">
                    <small class="text-danger">Please select chronic disease.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark btn-sm" (click)="AddChronicConditionModal.hide()">Close</button>
            <button [disabled]="!selectedCronicDisease" type="submit" class="btn btn-dynamic-2c btn-sm" (click)="addNewIcdCode()" >Add</button>
          </div>
      </div>
      </div>
    </div>