@import "theme";

table.pengagement thead tr {
  min-height: 50px;
  height: 50px;
  border-radius: 5px 5px 0 0;
}

table.pengagement tbody tr {
  background-color: #fff;
  vertical-align: middle;
}

table.pengagement thead tr th {
  vertical-align: middle;
  border: 0;
  background-color: $dynamic-colour;
  color: #fff;

  &:first-child {
    border-radius: 5px 0 0 0;
  }

  &:last-child {
    border-radius: 0 5px 0 0;
  }
}

table.table th,
table.table td {
  padding: 0.4rem;
  vertical-align: middle;
  border-width: 1px;
}

table.expandable-row thead.bg-primary th {
  background: $dynamic-colour;
  color: white;
}

table.expandable-row thead th:not(:last-child) {
  border-left: 1px solid #ededed57;
}

.task-patient-info {

  p,
  .cp-list {
    margin: 0;
    font-size: 14px;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    background: #53b0481f;
    padding: 3px 5px;
    margin-bottom: 4px;
    border-radius: 2px;

    strong {
      display: inline-block;
      width: 110px;
    }
  }
}

table.gaps-table {
  tbody {
    tr {
      &:hover {
        background-color: #f2f3f8;
      }
    }
  }
}

table.expandable-row tbody tr td:not(:first-child) {
  border-right: 1px solid #dee2e6;
}

table.expandable-row tbody tr td:first-child {
  border-right: 1px solid #dee2e6;
}

table {
  width: 100%;
  border-top: 1px solid #eeeeee;
  font-family: arial, sans-serif;
  border-collapse: collapse;

  th,
  td {
    font-size: 12px;
  }

  &.expandable-row {
    tr.grid-row {
      background-color: #fff;
      border: none;
      display: grid;

      justify-content: flex-start;

      >td {
        display: flex;
        align-items: center;
        vertical-align: middle;
        padding: 2px 5px;

        &.expanded-row-grid {
          border-top: none;
          display: grid;
          grid-column: 1/-1;
          justify-content: flex-start;
          font-size: 13px;
          background-color: #fff;

          &.row-table {
            display: table;
          }

          &.hide-row {
            display: none;
          }
        }
      }

      &:hover {
        background-color: #e5e7e8;
      }

      &.expended {
        background-color: #dee2e6;
      }
    }
  }
}

.history-table {
  background-color: #eeeeee;
}

.loading-container {
  position: relative;

  .loading-bar {
    width: 100%;
    position: absolute;
    top: -5px;
  }
}

.not-found-row {
  width: 100%;

  p {
    width: 100%;
    padding: 2px 0.5rem;
  }
}

.btn-action a:hover {
  color: $primary !important;
}

.action-button .btn {
  margin: 0 .2rem;
}

.action-button .btn:first-child {
  margin-left: 0;
}

.action-button .btn:last-child {
  margin-right: 0;
}

.position-beta {
  position: relative;

  span.beta {
    position: absolute;
    right: 0px;
    top: -11px;
    font-size: 12px;
    background-color: $dynamic-colour;
    color: #fff;
    line-height: 8px;
    padding: 3px 5px;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}


.side-bar-ex {
  position: absolute;
  left: 0;
  width: 300px;
  background-color: #e4e4e4;
  // opacity: 0.4;
  height: calc(100vh - 170px);
}

.side-bar-ex ul {
  padding: 0;
  overflow-y: auto;
  height: calc(100% - 100px);
}

.side-bar-ex ul li {
  margin: 10px 0;
  display: block;
  text-align: center;
  position: relative;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.side-bar-ex ul li a {
  width: 280px;
  // filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.05));
  display: inline-block;
  justify-content: start;
  align-items: center;
  border-radius: 6px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  background-color: #fff;
  border: 2px solid #fff;

  text-align: left;
  padding-left: 1rem;
}

.side-bar-ex ul li.active,
.side-bar-ex ul li:hover {
  border-left: 5px solid $dynamic-colour;
  cursor: pointer;
  filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.05));

}

.side-bar-ex ul li.active a,
.side-bar-ex ul li:hover a {
  background-color: #fff;
  border: 2px solid $dynamic-colour;
}

.side-bar-ex ul li.active a svg path,
.side-bar-ex ul li:hover a svg path {
  fill: $dynamic-colour;
}

.main-layout-in {
  padding: 0px 0px 0px 300px;
  width: 100%;
  // color: #fff;
  height: calc(100vh - 170px);
}

.main-outlet {
  height: 100%;
  // overflow-y: auto;
  // overflow-x: hidden;
  // background: #456279;
  padding: 1rem;
  // box-shadow: 2px 3px 13px 2px #8f8f8f;
}

.signal-state {
  display: none !important;
}

.main-index-box {
  cursor: pointer;
  border-color: #999 !important;

  color: rgb(52, 52, 52);

}

.main-index-box.active,
.main-index-box:hover {
  border-color: $dynamic-colour !important;
  background-color: $dynamic-colour;
  color: #fff;
}

.chat-messages {
  // min-height: calc(100vh - 70px);
  min-height: 100%;

  .chat-header {

    // min-height: 40px;
    h2 {
      font-size: 18px;
      text-transform: capitalize;
      margin: 0px;
      margin-bottom: 9px;
      margin-top: 9px;
    }
  }

  .message-body {

    // height: calc(100vh - 225px);
    .your-message {
      .your-img {
        img {
          width: 30px;
          border-radius: 50%;
          border: 1px solid transparent;
        }
      }

      .your-chat-message {
        // max-width: 400px;
        min-width: 5%;
        max-width: 75%;
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: 400;
        line-height: 20px;
        background-color: #f1efed;
        // border-bottom-left-radius: 15px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: #bdbdce;
        padding: 8px 16px;
        flex-wrap: wrap;
      }
    }

    .other-message {
      word-break: break-word;

      .other-img {
        img {
          width: 30px;
          border-radius: 50%;
          border: 1px solid transparent;
        }
      }

      .other-chat-message {
        // max-width: 400px;
        // min-width: auto;
        min-width: 5%;
        max-width: 75%;
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: 400;
        line-height: 20px;
        background-color: $dynamic-colour;;
        border-bottom-left-radius: 20px;
        // border-bottom-right-radius: 15px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: #ffff;
        padding:5px 10px;
        flex-wrap: wrap;
      }
    }
  }

  .chat-type-box {
    z-index: 1;
    .chat-type {
      .send-btn {
        padding: 3px 12px;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        opacity: 0.9;
        position: absolute;
        right: 10px;
        top: 10px;
        border: 1px solid transparent;
        background-color: $dynamic-colour;;
        color: #ffff;
        border-radius: 30px;

        &:hover {
          opacity: 1;
        }
      }

      .paper-clip {
        position: absolute;
        right: 6.8rem;
        top: 24px;
        font-size: 20px;
        font-weight: 400;
      }

      input {
        min-height: 46px;
        border-radius: 30px;
        padding: 5px 5.5rem 5px 1.2rem;
        font-weight: 500;
        &::placeholder {
          color: $dynamic-colour;;
        }
      }
    }
  }
}
